.calendar {
  text-align: center;
}

.calendar-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.calendar-title {
  font-size: 1.5em;
}

.calendar-intro {
  font-size: medium;
}

.rbc-header {
  height: 50px;
}

.rbc-timeslot-group {
  min-height: 0px;
}

.calendarContainer {
  background-color: white;
}

.dateTest {
    background-color: green;
    width: 10px;
    height: 10px;

}