.new-form {
  width: 90%;
  border: 1px solid black;
  margin: 3% auto;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: white;
}

.form-label {
  font-size: 20px;
  width: 100%;
  margin: 0;
  text-align: left;
}

.form-group {
  margin-bottom: 4px;
}

.required {
  color: rgb(207, 45, 5);
}

.time-picker {
  background: white;
  margin: 0px !important;
}
