.myCard {
    /* position: relative !important; */
    cursor: pointer;
    border-radius: 30px;
    margin-top: 250px;
}

body {
    background-color: gainsboro;
}

.card:hover {
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}