.createTemplate {
    border: 1px solid black;
    width: 90%;
    margin: 3% auto;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: white;
}

.formulationLabel {
    width: 15%;
}

.options {
    font-size: large;
}