.createTemplate {
    border: 1px solid black;
    width: 90%;
    margin: 3% auto;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: white;
}

.test {
    display: flex;
    flex-flow: row;
}

/* .t {
    margin: 0 auto;
} */

/* .form-check {
    margin: 0 2%;
} */

.form-label {
    text-decoration: underline;
}

.options {
    font-size: large;
}