.App {
  text-align: center;
}

.body{

}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.title{
  color:Black !important;
}
.nav-link{
  margin: 5px;
  color:Black !important;
}
.card{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: black;
}

.react-calendar{
    width: 1000px !important;
    color:Black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Form{
    margin:10rem;
}

.form-row{
    margin:1rem;
}

.form-check-label{
    color:Black;
}

.Image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.line{
    border: 2px solid black;
}


.SearchForm{

}

.btn{
    margin:auto;

}